In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_excel("C:/Users/ankur/Downloads/AAP- feature engineering edited.xlsx")
#df.head()
df.iloc[:,5:8]

     Coffee  Salon  Buy rate/ sqft
77       11      1            7023
73       10      1            6737
76       10      1            7023
55        9      0            5080
79        7      0            7500
57        5      0            5500
58        5      0            5500
53        0      3            4500
54        1      3            4550
66        4      0            6550
74        4      0            6770
75        4      0            6880
56        4      2            5500
60        4      2            5500
61        4      2            5500
52        0      2            4500
39        3      0               0
138       1      2            1275
50        3      0            4420
51        3      0            4420
69        3      0            6730
72        3      0            6730
62        3      0            6500
64        3      0            6500
40        0      1               0
42        0      1               0
43        0      1               0
44        0      1               0
45        0      1               0
70        0      0            6730
..      ...    ...             ...
93        3      0           10000
105       3      0           10350
129       0      0           14500
130       0      0           15000
131       2      0           18750
132       1      0           18750
85        1      3            9100
119       4      3           12666
117       4      3           12660
116       4      3           12566
115       4      3           12560
113       4      3           12500
133       0      0           20000
109       4      3           11566
111       0      3           12400
110       0      3           12100
107       0      3           11000
100       0      3           10100
89        0      3           10000
88        0      3            9800
87        0      3            9750
86        0      3            9500
134       0      0           22355
124       1      5           12750
101       1      5           10250
135       2      1           45000
122       6      6           12740
123       4      8           12740
136       7      7           33960
137       2      3           10385

[140 rows x 3 columns]

In [3]:
from scipy.spatial.distance import mahalanobis
import scipy as sp
import pandas as pd


df = df.iloc[:,5:8]

Sx = df.cov().values
Sx = sp.linalg.inv(Sx)

mean = df.mean().values

def mahalanobisR(X,meanCol,IC):
    m = []
    for i in range(X.shape[0]):
        m.append(mahalanobis(X.iloc[i,:],meanCol,IC) ** 2)
    return(m)

mR = mahalanobisR(df,mean,Sx)

In [4]:
df['distance'] = mR

In [5]:
df.to_excel("mahanabolis11.xlsx", index=False)

mR

In [6]:
mR

[20.485656656484892,
 16.487817520123297,
 16.401942672665935,
 14.37660197620879,
 7.853057235074208,
 3.7179942847459997,
 3.7179942847459997,
 3.5883476219784503,
 3.036143424556389,
 2.1750731894452535,
 2.1748840272821024,
 2.1758292589986197,
 2.129540747657041,
 2.129540747657041,
 2.129540747657041,
 1.4991906370321146,
 2.2052605947377764,
 2.043623378678046,
 1.2316407971258934,
 1.2316407971258934,
 1.1681267639808726,
 1.1681267639808726,
 1.1607469132934205,
 1.1607469132934205,
 1.4786865482431175,
 1.4786865482431175,
 1.4786865482431175,
 1.4786865482431175,
 1.4786865482431175,
 0.8696107409079662,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 1.1895113045627643,
 0.841038869457388,
 0.6858689726600452,
 0.6891981003288655,
 0.6173110408255346,
 0.6929314921409545,
 0.5455991966457748,
 1.276486515877123,
 0.5869388539203295,
 0.4843007668493255,
 0.5155760461639067,
 0.5155760461639067,
 0.5155760461639067,
 0.42395372267347364,
 0.41780280225412814,
 0.059953988848576265,
 0.13585117563873578,
 0.746356762015558,
 0.9514365924049737,
 0.9514365924049737,
 1.452119986885661,
 1.5193721106987912,
 0.8818724141457699,
 0.7563736833997626,
 1.1571296390307457,
 1.1806682356656795,
 1.2881486635750239,
 1.2881486635750239,
 1.1640094962826566,
 1.1640094962826566,
 1.8029935029683901,
 1.4887284646836336,
 1.2601185769974637,
 1.2624324230666337,
 1.2164401514168426,
 2.1023523489426297,
 2.062378368175064,
 2.095675960625039,
 1.6508670108170636,
 1.374433318596675,
 1.374433318596675,
 1.374433318596675,
 1.6008907926679954,
 1.683504292049778,
 3.727562066937417,
 4.029918413721131,
 5.645589666203128,
 5.973085012180677,
 2.2107000230890272,
 2.634136900925561,
 2.633858080258324,
 2.629759152623177,
 2.6295147059327357,
 2.6271836731517544,
 7.841218849809811,
 2.6174911483293926,
 3.171261106738121,
 3.1217892792517503,
 2.9845058486904787,
 2.9237440070622656,
 2.9198571893921668,
 2.9138022528917906,
 2.9126465810249926,
 2.9090165952407805,
 10.132501781407912,
 8.145785286463784,
 8.424052024972768,
 41.073869738350886,
 14.04890189889159,
 24.1020201669553,
 24.158153601647925,
 1.9002948120748253]